@font-face
{
    font-family: 'RalewayLight';
    src: url(Raleway/static/Raleway-Light.ttf);
}

@font-face
{
    font-family: 'RalewayBold';
    src: url(Raleway/static/Raleway-Bold.ttf);
}

@font-face
{
    font-family: 'Ralewaynormal';
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

body
{
    max-width: 1440px;
    margin: 0 auto;
}

.desktop
{
    display: inline;
}

.mobile
{
    display: none;
}

h3
{
    font-family: 'RalewayBold';
    font-size: 0.95em;
    margin: 3% 0%;
}

h4
{
    font-family: 'RalewayBold';
    font-size: 0.8em;
    margin: 1% 0%;
}

h5
{
    font-family: 'RalewayLight';
    font-size: 0.7em;
    margin: 1% 0%;
    padding: 2% 0%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: black;
}

nav
{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #0065fc;
    width: 100%;
}

nav #inscrire
{
    color: #0065fc;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Ralewaynormal';
    font-weight: bolder;
}

nav #menu
{
    font-family: 'Ralewaynormal';
    font-size: 0.95em;
    display: flex;
    justify-content: space-between;
    color: black;
}

#menu a
{
    padding-right: 20px;
    padding-left: 20px;
}

nav a:hover
{
    border-top: 2px #0065fc solid;
    color: #0065fc;
    padding-top: 15px;
}

#premierheader
{
    display: flex;
    justify-content: space-between;
    background-image: url("images/logo/Reservia.svg");
    background-repeat: no-repeat;
    background-position: 3% 3%; 
}

#recherche
{
    margin-left: 3%;
}

#recherche h5
{
    font-family: 'Ralewaynormal';
    font-size: 0.8em;
    margin-top: 5px;
}
#recherche h3
{
    margin-bottom: 5px;
}

form
{
    margin-top: 10px;
    display: flex;
    border-radius: 17px;
}

.icone
{
    background-color:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 14px 14px;
}

input
{
    border-style: hidden;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    box-shadow: none;
    appearance: none;
}

input::placeholder 
{
    color: black;
    font-family: 'RalewayBold';
    padding-left: 7px;
}

.boutonrechercher
{
    background-color: #0065fc;
    color: white;
    border: 6px #0065fc solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1px;
}

#local
{
    display: flex;
    flex-wrap: nowrap;
    margin: 0% 3%;
}

#lignefiltres
{
    font-family: 'RalewayBold';
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    font-weight: bold;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
}

#lignefiltres h3
{
    padding-top: 0.5em;
}

#filtres li
{
    margin: 15px;
    border-top: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 10px;
    height: 34px;
}

#filtres li i
{
    padding: 10px;
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 80px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    position: center;
}

#filtres a:hover
{
    text-decoration: underline;
}

#info
{
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    margin-bottom: 2%;
    font-family: 'RalewayLight';
    font-size: 0.8em;
}

#bulleinfo i
{
    border: 1.5px #F2F2F2 solid;
    border-radius: 80px;
    padding: 6px 9px;
    color: blue;
    font-size: 0.75em;
}

#info p
{
    margin-top: auto;
    padding: 5px 5px 0px 10px;
}

#tousleshebergements
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0% 3%;
}

.hebergementsmarseille
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 10px;
    width: 57%;
    padding: 1% 3%;
}

.lespopulaires
{
    background-color: #F2F2F2;
    width: 27%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1% 3%;
}

.lespopulaires h3
{
    display: flex;
    justify-content: space-between;
}

.medium
{
    background-color: white;
    border: 2px white solid;
    border-radius: 20px;
    width: 30%;
    height: auto;
    margin: 2% 0%;
    margin-right: 0px;
    box-shadow: 5px 1px 18px lightgrey;
    padding-bottom: 1%;
}

.description
{
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.medium img
{
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.tousmediums
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toussmalls
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
}

.small
{
    background-color: white;
    border: 2px white solid;
    border-radius: 20px;
    width: auto;
    height: 110px;
    margin: 4% 0%;
    box-shadow: 5px 1px 18px lightgrey;
}

.small a
{
    display: flex;
}

.small img
{
    width: 100px;
    height: 110px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.bluestars
{
    color: #0065fc;
}

.greystars
{
    color: lightgrey;
}

.stars
{
    display: flex;
    margin-bottom: 3%;
    vertical-align: bottom;
}

#activitesamarseille
{
    margin: 0% 3%;
}

#activites h4
{
    padding: 2%;
    margin-left: 4%;
}

#vieuxport, #fort, #iles, #calanques, #damedelagarde, #longchamp
{
    box-shadow: 5px 1px 18px lightgrey;
    border-radius: 20px;
    width: auto;
}

#vieuxport img
{
    height: 280px;
    width: 215px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#fortiles
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#fort img
{
    height: 130px;
    width: 215px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#iles img
{
    height: 100px;
    width: 215px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#calanques img
{
    height: 280px;
    width: 215px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#dameparc
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#damedelagarde img
{
    height: 100px;
    width: 215px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#longchamp img
{
    height: 130px;
    width: 215px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activites
{
    display: flex;
    justify-content: space-between;
}

footer
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F2F2F2;
    width: auto;
    padding: 3%;
    margin-top: 4%;
}

footer h5
{
    line-height: 2em;
}

#apropos
{
    width: 30%;
}

#noshebergements
{
    width: 30%;
}

#assistance
{
    width: 30%;
}


