body
{
    overflow-x: hidden;
    margin: 0%;
}

.desktop
{
    display: none;
}

.mobile
{
    display: inline;
}

header
{
    margin: 0%;
}

#premierheader
{
    background-position: 5% 15%;
}

nav
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
}

nav #inscrire
{
    align-self: flex-end;
    font-family: 'RalewayBold';
    padding-right: 10px;
    padding-top: 20px;
}

#menu
{
    margin-top: 7%;
    padding-left: 0px;
}

#menu ul
{
    width: 100%;
} 

#menu li
{
    text-align: center;
    border-bottom: 2px #F2F2F2 solid;
    width: 100%;
    padding-bottom: 10px;
}

#menu li:hover
{
    border-bottom: 2px #0065fc solid;
}

#menu a:hover
{
    border-top: none;
}

#deuxiemeheader
{
    margin-left: 3%;
}

form
{
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
}

input
{
    border: none;
}

.boutonrechercher
{
border-radius: 10px;
padding: 10px;
}

#lignefiltres
{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin-top: 0%;
}

#tousleshebergements
{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    margin: 0%;
}

.hebergementsmarseille
{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    background-color: transparent;
    width: 90%;
    box-sizing: content-box;
    margin: auto;
}

.tousmediums
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

#plus
{
    margin-top: 5%;
    margin-bottom: 7%;
}

.medium
{
    width: 95%;
}

.lespopulaires
{
    border-radius: 0%;
    width: auto;
    padding-right: 0%;
}

.lespopulaires h3
{
    padding-right: 10%;
}

.toussmalls
{
    width: 90%;
    margin: auto;
}

.small
{
    width: 95%;
}

#activites
{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}

#vieuxport, #fort, #iles, #calanques, #damedelagarde, #longchamp
{
    margin: 3%;
}

#activites img
{
    width: 100%;
    height: 150px;
}


footer
{
    flex-direction: column;
}

#apropos
{
    width: 100%;
}

#noshebergements
{
    width: 100%;
}

#assistance
{
    width: 100%;
}