body
{
    overflow-x: hidden;
    margin: 0%;
    hyphens: auto;
}

nav
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: 0%;
    padding: 0%;
}

#menu
{
    border-bottom: 2px #F2F2F2 solid;
    margin-top: 20%;
    padding-bottom: 5%;
}

#menu a:hover
{
    border-top: 2px #0065fc solid;
}

nav #inscrire
{
    align-self: flex-end;
    font-family: 'RalewayBold';
    padding-right: 12px;
}

#lignefiltres
{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin-top: 0%;
}

#tousleshebergements
{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    margin: 0%;
}

.hebergementsmarseille
{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    background-color: transparent;
    width: 90%;
    box-sizing: content-box;
}

.tousmediums
{
    display: flex;
    flex-direction: column;
    width: 90%;

}

#plus
{
    margin-top: 5%;
    margin-bottom: 7%;
}

.medium
{
    width: 95%;
}

.lespopulaires
{
    border-radius: 0%;
    width: 100%;
    padding-right: 0%;
    box-sizing: content-box;
}

.lespopulaires h3
{
    padding-right: 10%;
}

.toussmalls
{
    width: 90%;
}

.small
{
    width: 95%;
}

#activites
{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}

#vieuxport, #fort, #iles, #calanques, #damedelagarde, #longchamp
{
    margin: 3%;
}

#activites img
{
    width: 100%;
    height: 100px;
}


footer
{
    flex-direction: column;
}

#apropos
{
    width: 100%;
}

#noshebergements
{
    width: 100%;
}

#assistance
{
    width: 100%;
}